body{
    /* background: linear-gradient(290deg,#200550, #005c4b); */
}
.header{
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    background: linear-gradient(290deg,#200550, #005c4b);
    padding: 15px 0px;
}
.header .logo h1 a{
    color: #fff;
    font-size: 35px;
}
.header .menu{
    width: 52%;
}
.header .menu .searchBox{
    width: 100%;
}
.header .menu .searchBox input{
    border: 1px solid #fff;
    /* background: none; */
    padding: 8px 15px;
    width: 100%;
    border-radius: 25px;
}
.header .menu ul li{
    /* background: #07294d; */
    margin: 0px 15px;
    padding: 8px 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header .menu ul li.active{
    border-bottom: 1px solid #fff;
}
.header .menu ul li a{
    color: #fff;
}
.header .cartloginSgnup .cart{
    padding-right: 25px;
    /* border-right: 2px solid #fff; */
    position: relative;
}
.header .cartloginSgnup .cart span{
    color: #fff;
    font-size: 25px;
    position: relative;
    cursor: pointer;
}
.header .cartloginSgnup .cart span sup{
    color: #000;
    background: #FFC221;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 5px 8px;
    font-weight: 700;
    margin-left: -5px;
}
.shoppingCart{
    display: none;
}
.header .cartloginSgnup .cart:hover .shoppingCart{
    position: absolute;
    top: 48px;
    background: linear-gradient(290deg, #005c4b,#200550);
    right: 0;
    display: inline-block;
    border-radius: 25px 0px 25px 25px;
    padding: 20px;
}
.shoppingCart .singleCart{
    width: 450px;
    padding: 12px;
    border-bottom: 1px solid #fff;
}
.shoppingCart .singleCart:last-child{
    width: 450px;
    padding: 12px;
    border-bottom: none;
}
.shoppingCart .singleCart .signImg{
    width: 120px;
}
.shoppingCart .singleCart .signImg video{
    width: 120px;
}
.shoppingCart .singleCart .signInfo{
    width: 250px;
}
.shoppingCart .singleCart .signInfo h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: #fff;
}
.shoppingCart .singleCart .signInfo p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #fff;
}
.shoppingCart .singleCart .signInfo h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin-left: 10px;
    color: #fff;
}
.header .cartloginSgnup .login a{
    color: #fff;
    margin: 0px 25px;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header .cartloginSgnup .signup a{
    background: #0c8b51;
    /* background: #0A2257; */
    display: inline-block;
    padding: 8px 25px 10px 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    /* border-radius: 5px; */
}
.header .cartloginSgnup .profile p{
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
}
.header .cartloginSgnup .profile{
    position: relative;
    cursor: pointer;
    margin-right: 50px;
}
.header .cartloginSgnup .profile .proPic{
    width: 40px;
    border-radius: 50%;
    /* border: 3px solid #fff; */
    height: 40px;
}
.header .cartloginSgnup .profile .proPic img{
    border-radius: 50%;
    height: 40px;
    width: 100%;
    object-fit: cover;
}
.profile ul{
    display: none;
}
.profile:hover ul{
    position: absolute;
    top: 40px;
    background: linear-gradient(290deg,#200550, #005c4b);
    padding: 0 10px 12px 10px;
    left: -55px;
    display: inline-block;
}
.profile ul li{
    /* margin: 5px 0px; */
    border-bottom: 1px solid #000;
    padding: 10px 30px 10px 30px;
}
.profile ul li:last-child{
    border-bottom: none;
}
.profile ul li a{
    color: #fff;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}










.heroData{
    background: #fff;
    box-shadow: 0px 0px 10px #ddd;
    padding: 30px;
    width: 450px;
    margin-right: 100px;
}
.hero h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
}
.hero h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
























.what{
    padding: 70px 0px;
}
.what h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
}
.courses{
    display: flex;
    flex-wrap: wrap;
}
.courses .singleCourse{
	width: 23%;
	margin:0px 10px;
	/* display: none; */
	transition: 0.5s all ease;
    box-shadow: 0px 0px 10px #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.courses .singleCourse video{
	height: 200px;
	width: 100%;
	transition: 0.5s all ease;
    object-fit: cover;
}


.courses .singleCourse .title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 700;
}
.courses .singleCourse .Description{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.courses .singleCourse .priceCart{
    padding: 10px 20px;
}
.courses .singleCourse .price{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    margin-left: 10px;
    display: inline-block;
    font-weight: 700;
}
.courses .singleCourse input[type="submit"]{
    background: #0A2257;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    padding: 6px 20px 8px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 45px;

}
















/************footer *************/
.footer{
    padding: 50px 0px 0px 0px;
    background: linear-gradient(290deg, #005c4b,#200550);
}
.footer .footerLogo{
    width: 23%;
}
.footer .footerLogo h2{
    margin-bottom: 15px;
}
.footer .footerLogo h2 a{
    color: #efefef;
}
.footer .footerLogo p{
    color: #c5c5c5;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 22px;
}
.footer .footerLogo .footerSocial{}
.footer .footerLogo .footerSocial ul {}
.footer .footerLogo .footerSocial ul li {
    margin-right: 15px;
    font-size: 16px;
}
.footer .footerLogo .footerSocial ul li a{
    color:#efefef;
}
.footer .footerLogo .footerSocial ul li a span{}
.footer .quickLink{
    width: 20%;
}
.footer .quickLink h4{
    color: #efefef;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 15px;
}
.footer .quickLink ul{}
.footer .quickLink ul li{
    display: block;
    margin: 12px 0px;
    font-size: 16px;
}
.footer .quickLink ul li a{
    color: #c5c5c5;
}
.footer .termsConditions{
    width: 20%;
}
.footer .termsConditions h4{
    color: #efefef;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 15px;
}
.footer .termsConditions ul{}
.footer .termsConditions ul li{
    display: block;
    margin: 12px 0px;
    font-size: 16px;
}
.footer .termsConditions ul li a{
    color: #c5c5c5;
}
.footer .footerContact{
    width: 20%;
}
.footer .footerContact h4{
    color: #efefef;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 15px;
}
.footer .footerContact .contactUsInfo .contactUsInfoPhone .contactUsIcon span{
    font-size: 25px;
    margin-right: 15px;
    color: #c5c5c5;
}
.footer .footerContact .contactUsInfo .contactUsInfoPhone .contactUscontent span{
    margin-right: 15px;
    color: #c5c5c5;
    font-size: 15px;
}
.footerbottom{
    padding: 20px;
    /* background: rgb(37 36 43); */
    margin-top: 20px;
    border-top: 1px solid;
}
.footerbottom p{
    font-size: 13px;
    font-weight: 500;
}
